*{
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
  }
body{
    background-color: rgb(38, 40, 49);
    font-size: 1em;
    font-weight: bold;
    font-family: 'Quicksand';
    color: white;
    margin: 0px;
    height: 3000px;
}
#main{
    margin:2%;
}


hr{
    border: 2px solid crimson;
}

h1{
    background-color: crimson;
    color:white;
    font-weight: normal;
    font-size: 10em;
    margin: 0;
    text-align: center;
    font-family: 'Doom 2016 Left', sans-serif;
    margin:auto;
    white-space: nowrap;
    text-shadow:1px 1px 1px #919191,
                2px 2px 1px #919191,
                3px 3px 1px #919191,
                4px 4px 1px #919191,
                5px 5px 1px #919191,
                6px 6px 1px #919191,
                7px 7px 1px #919191,
                8px 8px 1px #919191,
                9px 9px 1px #919191,
                10px 10px 1px #919191,
                12px 12px 10px rgba(16,16,16,0.4),
                14px 14px 15px rgba(16,16,16,0.2);

}

h2{
    padding: 0;
    margin: 0;
}

#h2a{
    font-family:'Quicksand';
    width: 80%;
    font-size: 200%;
    color: white;
    padding-left:2%;
    display: inline-block;
    text-align: center;
}

#welcome{
    font-size: 1.5em;
}

@keyframes popOut {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translate(-120px);
    }
}

@media screen and (min-width: 976px) {
    h1{
        font-size: 10em;
    }
}
@media screen and (max-width: 975px) {
    h1{
        font-size: 5.9em;
    }
}


.navbar ul{
    list-style-type: none;
    background-color: crimson;
    overflow: hidden;
    padding: 0%;
    margin: 0;
    
}
.navbar a{
    color:white;
    text-decoration: none;
}
.navbar li{
    width: 100px;
    text-align: center;
    padding: 10px;
    float: left;
}
.navbar li:hover{
    background-color: rgb(167, 15, 46);
    transition-timing-function: ease-in;
    transition: background-color 0.2s;
}
#curr_btn{
    background-color: rgb(38, 40, 49);
    border-top: 2px solid crimson;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#revspace{
    width:20%;
    height:250px;
    float:right;
    right: -100px;
    background-color: rgb(38, 40, 49);
    overflow: clip;
}
#revdiv{
    position: fixed;
    height:250px;
    width:250px;
    right: -150px;  
    #revspace:hover & {
        transform: translateX(-110px);
    }
    transition: all 0.25s ease-in-out;
}
#rev{
    position: absolute;
}
#revcimg{
    position: absolute;
    height: 200px;
    top:30px;
    right: 25px;
    transition: all 0.1s ease-in-out
}


#righth1{
    font-family: 'Doom 2016 Right', sans-serif;
}
#h3a{
    color:white;
    font-weight: normal;
    text-align: center;
    font-size: 2em;
}

#code{
    background-color: rgb(38, 40, 49);
    border: 2px solid crimson;
    border-radius: 10px;
    float: bottom;
}


#bookspace{
    position: relative;
    top: 200px;
    right: -30%;
    height: 250px;
    width: 25%;
    float: right;
    
}
#bookdiv{
    background-color: rgb(110, 61, 33);
    position: relative;
    top: 500px;
    border: 10px solid rgb(173, 97, 52);
    border-radius: 10px;
    position: fixed;
    height:200px;
    width:250px;
    right: -180px;  
    #bookspace:hover & {
        transform: translateX(-110px);
    }
    transition: all 0.25s ease-in-out;
}
#blender{
    background: linear-gradient(90deg, rgb(138, 71, 9) 0%, rgb(255, 118, 27) 15%, rgb(255, 118, 27) 85%, rgb(138, 71, 9) 100%);
    position: relative;
}
.book{
    width: 24%;
    height: 48%;
    margin: 1%;
}
.book:hover{
    border: 2px solid white;
    border-radius: 2px;
}
#python{
    background: linear-gradient(90deg, rgb(42, 80, 110) 0%, rgb(69, 132, 182) 15%, rgb(69, 132, 182) 85%, rgb(42, 80, 110) 100%);
    position: relative;
}
#c{
    background: linear-gradient(90deg, rgb(33, 41, 97) 0%, rgb(57, 73, 171) 15%, rgb(57, 73, 171) 85%, rgb(33, 41, 97) 100%);
    left: 25%;
    bottom: 98%;
    position: relative;
}
